<h1>Hello</h1>
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Time</th>
      <th scope="col">Text</th>
      <th scope="col">Download</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ object.time }}</td>
      <td>{{ object.text }}</td>
      <td><a href="download/{{ object.text }}">Download</a></td>
      <td><a href="delete/{{ object.pk }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
